@using Resources

@{
  ViewBag.Title = Resource.App_Name;
}

<h1>@ViewBag.Title</h1>
@using (Html.BeginForm("Index", "Home"))
{
    <div class="col-sm-12">
        <div class="form-group">
            <input id="command" name="command" type="text" class="form-control" style="font-size: small;" value="@ViewBag.Command" />
            <button class="btn btn-default" id="get-my-email-address">Run Command</button>
        </div>
    </div>
}
<div class="col-sm-12">
    <label for="user-email-address">Command Result</label>
    <pre id="user-email-address" name="user-email-address">@ViewBag.Email</pre>
</div>

<div class="col-sm-12">
    <div class="form-group">
        <label for="token">Auth Token</label>
        <input id="token" name="token" type="text" class="form-control" style="font-size: xx-small;" value="@ViewBag.Token" />
    </div>
</div>
<div class="col-sm-12">
    <p class="@(ViewBag.Message == null ? "hidden" : null)">@Html.Raw(ViewBag.Message)</p>
</div>
